
:root{
    --darkblue:hsl(233, 47%, 7%);
    --dark-desturated:hsl(244, 38%, 16%);
    --soft-violet:hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
}
*{


    margin:0;
    padding:0;

}

body{
background:var(--darkblue);
 font-size: 15px;
 font-family: 'Inter', sans-serif;

}
.card{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    background:#fff;
margin-top:250px;
background:var(--dark-desturated);
color:#fff;
display:flex;

justify-content:space-between;
}
.card-content{
    padding: 30px;
    width:30%;

    margin:auto;
}
.card-disc{
   margin:40px 0;
    line-height:2;
   color:hsla(0, 0%, 100%, 0.75);
}
.hightlight{
    color:hsl(277, 64%, 61%)
}

.stats{
    display:flex; 
   line-height:1.7;
}

.stat{
     font-weight:700;
    font-size:20px;
margin-right:90px;
     color: hsl(0, 0%, 100%);
    display:block;
}
.stat-text{
    color: hsla(0, 0%, 100%, 0.6);
}

.card-image{
    width:50%;
    background-image: url('../images/image-header-desktop.jpg');
    background-size:cover;
   background-position:center;
   z-index:2;
   position:relative;
}
.card-image-overlay{
    background-color: rgba(170, 92, 219,.7);
   
    position:absolute;;
   left:0;
   top:0;
   right:0;
   width:100%;
   height:100%;
}
.desktop-header-img{
    width:100%;
    padding:0;
    height:100%;
}



/* media query */

@media (max-width:1462px){
 .card{
     width:83%;
     
 }
    .card-content{
        width:37%;
    }
}

@media (max-width:1000px){
    .card-content{
    width:50%;
    text-align:center;
        margin-top:30px;
}
    .stats{
        flex-direction:column; 
           }
           .stat{
               margin-right:0;
           }
    .card{
        flex-direction:column-reverse;
      width:400px;

    
    }
    .card-image{
        height: 300px;
       width: 100%;
        background-image:url('../images/image-header-mobile.jpg')
    }
}
@media (max-width:450px){

    .card{
        width:300px;
    }
}